In [9]:
%pip install sqlalchemy
%pip install psycopg2

Requirement already satisfied: sqlalchemy in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.13.2)
Note: you may need to restart the kernel to use updated packages.
Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp312-cp312-linux_x86_64.whl size=549330 sha256=7cf02afa823d2873f6d4e3d5cce1a5453aad106890ebc86f57bd784b3ef7917c
  Stored in directory: /home/codespace/.cache/pip/wheels/ac/bb/ce/afa589c50b6004d3a06fc691e71bd09c9bd5f01e5921e5329b
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [2]:

import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [9]:
print("Connecting to AACT database...")

engine = create_engine(
    "postgresql+psycopg2://ritam21:Ritam03%40@aact-db.ctti-clinicaltrials.org:5432/aact"
)

print("Connection successful. Running query...")

df = pd.read_sql("""
    SELECT DISTINCT ON (s.nct_id)
        s.nct_id,
        s.phase,
        c.name AS condition,
        i.intervention_type AS intervention_type,
        d.allocation AS study_design,
        sp.agency_class AS sponsor_type,
        s.enrollment,
        s.enrollment_type,
        s.overall_status AS status,
        e.gender,
        f.state AS location,
        s.start_date,
        s.completion_date,
        d.masking AS masking
    FROM
        studies s
    LEFT JOIN conditions c ON s.nct_id = c.nct_id
    LEFT JOIN interventions i ON s.nct_id = i.nct_id
    LEFT JOIN designs d ON s.nct_id = d.nct_id
    LEFT JOIN sponsors sp ON s.nct_id = sp.nct_id
    LEFT JOIN eligibilities e ON s.nct_id = e.nct_id
    LEFT JOIN facilities f ON s.nct_id = f.nct_id
    ORDER BY
        s.nct_id
    LIMIT 500000;
""", engine)

print(f"Query returned {len(df)} rows.")

df.to_csv("unique_trial_data.csv", index=False)
print("Data saved to unique_trial_data.csv")
print(df.head())
print(df.columns)

Connecting to AACT database...
Connection successful. Running query...
Query returned 500000 rows.
Query returned 500000 rows.
Data saved to unique_trial_data.csv
        nct_id          phase                       condition  \
0  NCT00000102  PHASE1/PHASE2  Congenital Adrenal Hyperplasia
1  NCT00000104           None                  Lead Poisoning
2  NCT00000105           None                          Cancer
3  NCT00000106             NA              Rheumatic Diseases
4  NCT00000107           None       Heart Defects, Congenital

  intervention_type study_design sponsor_type  enrollment enrollment_type  \
0              DRUG         None          NIH         NaN            None
1         PROCEDURE         None          FED         NaN            None
2        BIOLOGICAL         None        OTHER       112.0          ACTUAL
3            DEVICE   RANDOMIZED          NIH         NaN            None
4              None         None          NIH         NaN            None

       status  gender        location  start_date completion_date masking
0   COMPLETED     ALL  South Carolina        None            None  DOUBLE
1   COMPLETED  FEMALE       Minnesota        None            None    None
2  TERMINATED     ALL       Minnesota  2002-07-31      2012-03-31    None
3     UNKNOWN     ALL       Wisconsin        None            None    None
4   COMPLETED     ALL         Vermont        None            None    None
Index(['nct_id', 'phase', 'condition', 'intervention_type', 'study_design',
       'sponsor_type', 'enrollment', 'enrollment_type', 'status', 'gender',
       'location', 'start_date', 'completion_date', 'masking'],
      dtype='object')
Data saved to unique_trial_data.csv
        nct_id          phase                       condition  \
0  NCT00000102  PHASE1/PHASE2  Congenital Adrenal Hyperplasia
1  NCT00000104           None                  Lead Poisoning
2  NCT00000105           None                          Cancer
3  NCT00000106             NA              Rheumatic Diseases
4  NCT00000107           None       Heart Defects, Congenital

  intervention_type study_design sponsor_type  enrollment enrollment_type  \
0              DRUG         None          NIH         NaN            None
1         PROCEDURE         None          FED         NaN            None
2        BIOLOGICAL         None        OTHER       112.0          ACTUAL
3            DEVICE   RANDOMIZED          NIH         NaN            None
4              None         None          NIH         NaN            None

       status  gender        location  start_date completion_date masking
0   COMPLETED     ALL  South Carolina        None            None  DOUBLE
1   COMPLETED  FEMALE       Minnesota        None            None    None
2  TERMINATED     ALL       Minnesota  2002-07-31      2012-03-31    None
3     UNKNOWN     ALL       Wisconsin        None            None    None
4   COMPLETED     ALL         Vermont        None            None    None
Index(['nct_id', 'phase', 'condition', 'intervention_type', 'study_design',
       'sponsor_type', 'enrollment', 'enrollment_type', 'status', 'gender',
       'location', 'start_date', 'completion_date', 'masking'],
      dtype='object')

In [10]:
df

,nct_id,phase,condition,intervention_type,study_design,sponsor_type,enrollment,enrollment_type,status,gender,location,start_date,completion_date,masking
0,NCT00000102,PHASE1/PHASE2,Congenital Adrenal Hyperplasia,DRUG,None,NIH,NaN,None,COMPLETED,ALL,South Carolina,None,None,DOUBLE
1,NCT00000104,None,Lead Poisoning,PROCEDURE,None,FED,NaN,None,COMPLETED,FEMALE,Minnesota,None,None,None
2,NCT00000105,None,Cancer,BIOLOGICAL,None,OTHER,112.0,ACTUAL,TERMINATED,ALL,Minnesota,2002-07-31,2012-03-31,None
3,NCT00000106,NA,Rheumatic Diseases,DEVICE,RANDOMIZED,NIH,NaN,None,UNKNOWN,ALL,Wisconsin,None,None,None
4,NCT00000107,None,"Heart Defects, Congenital",None,None,NIH,NaN,None,COMPLETED,ALL,Vermont,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,NCT06482788,PHASE2,Esophagogastric Junction Adenocarcinoma,DRUG,NA,OTHER,26.0,ESTIMATED,RECRUITING,ALL,Shanghai,2024-05-22,2027-05-31,NONE
499996,NCT06482801,PHASE2,Liver Cancer,DRUG,NON_RANDOMIZED,OTHER,90.0,ESTIMATED,RECRUITING,ALL,None,2024-06-10,2035-12-30,NONE
499997,NCT06482814,NA,Hypertension,BEHAVIORAL,RANDOMIZED,NIH,44.0,ESTIMATED,RECRUITING,ALL,Minnesota,2025-02-20,2029-04-30,DOUBLE
499998,NCT06482827,NA,Diabetic Neuropathies,DEVICE,RANDOMIZED,OTHER,20.0,ESTIMATED,NOT_YET_RECRUITING,ALL,Ontario,2024-09-01,2025-12-01,SINGLE
499999,NCT06482840,None,Cardiac Arrhythmia,None,None,INDUSTRY,15.0,ACTUAL,ACTIVE_NOT_RECRUITING,ALL,Centre Urbain Nord,2023-12-08,2024-08-31,None

In [11]:
# Display the number of unique values in each column
unique_counts = df.nunique()
print(unique_counts)

nct_id               500000
phase                     8
condition             72195
intervention_type        11
study_design              3
sponsor_type              9
enrollment             8524
enrollment_type           2
status                   14
gender                    3
location               8786
start_date             8771
completion_date        9638
masking                   5
dtype: int64